@model Jbs.Yukari.Web.Models.OrganizationViewModel
@{
	Layout = "_EditLayout";
}

@section basic {
	<div class="mb-2">
		<label class="form-label" asp-for="Code"></label>
		<input class="form-control" asp-for="Code" required />
	</div>
	<div class="mb-2">
		<label class="form-label" asp-for="Name"></label>
		<input class="form-control" asp-for="Name" required />
	</div>
	<div class="mb-2">
		<label class="form-label">所属</label>
		<div class="dropdown">
			<button id="organization-button" type="button" class="btn organization-dropdownlist dropdown-toggle w-100 text-start" data-bs-toggle="dropdown" aria-expanded="false" data-bs-auto-close="outside"></button>
			<div id="tree" class="dropdown-menu pe-3 w-100"></div>
		</div>
	</div>
	@Html.HiddenFor(model => model.ParentId)
	@Html.HiddenFor(model => model.TreeJson)
}

@section objects {
	<div class="container">
		<button class="btn btn-secondary" asp-action="Policy">ポリシー適用</button>
		<div class="row">
			<div class="col col-sm-12">
				<ul id="object-tabs" class="nav">
					<li class="nav-item">
						<a href="#user" class="nav-link" data-bs-toggle="tab">ユーザー</a>
					</li>
					<li class="nav-item">
						<a href="#group" class="nav-link" data-bs-toggle="tab">グループ</a>
					</li>
				</ul>
				<div class="tab-content">
					<div id="user" class="tab-pane active">
						@await Html.PartialAsync("_Users", Model.Users)
					</div>
					<div id="group" class="tab-pane">
						@await Html.PartialAsync("_Groups", Model.Groups)
					</div>
				</div>
			</div>
		</div>
	</div>
}

@section Scripts {
  <script>
    $(function () {
	  	var data = '@Model.TreeJson';
			var tree = JSON.parse(data.replace(/&quot;/g, '"'));
			$('#organization-button').text(tree[0].nodes[0].text);
			$('#tree').treeview({
				data: tree,
				expandIcon: 'fa fa-plus',
				collapseIcon: 'fa fa-minus'
			});

			$('#tree').on('nodeSelected', function (event, data) {
				$('#organization-button').click(); // ドロップダウンリストを閉じる。
				$('#organization-button').text(data.text); // ドロップダウンリストのボタンタイトルを選択した組織名にする。
				$('#ParentId').val(data.id);
			});
		});
	</script>
}
